/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
  width: 100vw;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  max-width: 1200px;
  max-height: 1200px;
  min-width: 960px;
  min-height: 960px;
  border: 1px solid black;
  padding: 1rem;
  gap: 1.25rem;
}

header {
  text-align: center;
  margin-top: 0;
}

header > h1 {
  font-size: 3.75rem;
}

header > p {
  font-size: 1.56rem;
}

#roll-button {
  width: 15%;
  height: 5%;
  font-size: 1.56rem;
  font-weight: bold;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 800px;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.dice-element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.25rem;
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 1 / 1;
}
